<div class="container">
<h1><%= @restaurant.name %></h1>
  <div class="row">
    <div  class="col-xs-12" >
      <div class="card">
        <ul class="list-unstyled">
          <li>
            <i class="fa fa-map-marker"></i>
            <%= @restaurant.address %>
          </li>
          <li>
            <i class="fa fa-phone"></i>
            <%= @restaurant.phone %>
          </li>
          <li>
            <i class="fa fa-cutlery"></i>
            <%= @restaurant.category %>
          </li>
        </ul>
      </div>


    </div>
  </div>
  <%= link_to "List", restaurants_path, class:"btn btn-primary" %>
  <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class:"btn btn-primary" %>
      <% @restaurant.reviews.each do |review| %>
      <h6 ><%= review.rating %>/5 : <%= review.content %><h6>
      <% end %>
</div>
